<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hazarbelge.themoviedb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="TheMovieDB"
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon"
        android:roundIcon="@mipmap/ic_appicon_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:label="">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>